# Ignore everything by default
*

# Keep gitignore itself
!.gitignore

# Top level files to keep
!Dockerfile
!docker-compose.yml
!readme.txt
!*.sh

# Allow traversing into user_data
!user_data/

# But ignore everything inside user_data by default
user_data/*

# Allow specific files inside user_data
!user_data/*.json

# Ignore hyperopt result files
user_data/hyperopt_OptLong*

# Strategies
!user_data/strategies/*.py

# Hyperopts
!user_data/hyperopts/
!user_data/hyperopts/*.py
